In [1]:
from airflow import DAG
from airflow.operators.python import PythonOperator
from airflow.providers.amazon.aws.hooks.s3 import S3Hook
import pandas as pd
from io import StringIO
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [3]:
file_names=['ads_views.csv','advertiser_ids.csv','product_views.csv']

dfs = []  # lista de dfs

#s3_conn_id = 'aws_default'
#bucket_name = 'tpudesa'
#s3_hook = S3Hook(aws_conn_id=s3_conn_id)
#s3_conn = s3_hook.get_conn()
#print(f"Connection to S3 established: {s3_conn}")

for name in file_names:
    
    key = name
    #print(f"Reading CSV file from S3 bucket: {bucket_name}, key: {key}")
    #csv_object = s3_hook.get_key(key, bucket_name)
    #print(f"CSV object: {csv_object}")
    #csv_content = csv_object.get()['Body'].read().decode('utf-8')
    #df = pd.read_csv(StringIO(csv_content))
    df = pd.read_csv("./data/"+key)
    print(df.head())
    
    dfs.append(df)

          advertiser_id product_id        type        date
0  L6WM4665XZVS9MCZRTVI     fe7svp  impression  2024-04-15
1  OAGTYWN8WFC997VLDJH7     v3w16i  impression  2024-04-15
2  IDOFCO721HTJGDH7332G     1f34uj  impression  2024-04-15
3  SOVPFK3BBWKTQM9HOHWJ     9rmu1i  impression  2024-04-15
4  8C88YB6E8YCGWU07HA7A     bvztih       click  2024-04-15
          advertiser_id
0  IDOFCO721HTJGDH7332G
1  LW045DVYSGRD75TK6U54
2  SOVPFK3BBWKTQM9HOHWJ
3  M0LU6DCI1WILGQBZ6808
4  AK81O7W3KGPEN8LABG2N
          advertiser_id product_id        date
0  OAGTYWN8WFC997VLDJH7     p0nex1  2024-04-15
1  EN1SA43DTN2LIR8DEW5S     yeoj2v  2024-04-15
2  EN1SA43DTN2LIR8DEW5S     05p8w3  2024-04-15
3  P41C5HK4P2G5GFRMT6ZA     983mc0  2024-04-15
4  9Z77N44VDW6KX6VBWJ4X     lbtw00  2024-04-15

In [4]:
from datetime import datetime, timedelta
ads_views, advertiser_ids, product_views=tuple(dfs)

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

print(today_date)

2024-05-03

In [5]:
ads_views_today = ads_views[ads_views['date'] == today_date]
ads_views_filtered = ads_views_today[ads_views_today['advertiser_id'].isin(advertiser_ids['advertiser_id'])]

ads_views_filtered.head()

              advertiser_id product_id        type        date
38470  Y0W3K7OV6ZLILW96OO3K     b046tj  impression  2024-05-03
38471  5E325T5HYL61QSABVR5V     tspdm6  impression  2024-05-03
38472  EN1SA43DTN2LIR8DEW5S     0kwo2k  impression  2024-05-03
38473  6X20RDH567MX2X3TXYJ7     6ee4ay  impression  2024-05-03
38474  5E325T5HYL61QSABVR5V     67vcf8  impression  2024-05-03

In [6]:
product_views_today = product_views[product_views['date'] == today_date]
product_views_filtered = product_views_today[product_views_today['advertiser_id'].isin(advertiser_ids['advertiser_id'])]

product_views_filtered.head()

              advertiser_id product_id        date
38671  62FIK8F2YT8JSFDBLEC9     jn3jwp  2024-05-03
38672  OY5LNPB5A8FF43ITRZG3     d6etln  2024-05-03
38673  OAGTYWN8WFC997VLDJH7     fx42kx  2024-05-03
38674  P41C5HK4P2G5GFRMT6ZA     y0l8k3  2024-05-03
38676  K6Z0X85ZUY0TSF4RCG5J     b8nplx  2024-05-03

In [7]:
# TOP Product
#para cada advertiser id, quiero los 20 product_id m√°s visitados (en ese dia)
top_products = product_views_filtered.groupby('advertiser_id')['product_id'].value_counts().reset_index(name='count')
top_products['ranking'] = top_products.groupby('advertiser_id')['count'].rank(method='first', ascending=False)
top_20_products_per_advertiser = top_products[top_products['ranking'] <= 20]
top_20_products_per_advertiser = top_20_products_per_advertiser.drop(columns='count')

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

# Assuming 'date' is a column in the original DataFrame df
top_20_products_per_advertiser['date']=today_date
top_20_products_per_advertiser = top_20_products_per_advertiser[['date', 'advertiser_id', 'product_id', 'ranking']]

print(top_20_products_per_advertiser.head())

         date         advertiser_id product_id  ranking
0  2024-05-03  2WPF1NXECF3G6NUMWDO7     7sizf8      1.0
1  2024-05-03  2WPF1NXECF3G6NUMWDO7     csdo4h      2.0
2  2024-05-03  2WPF1NXECF3G6NUMWDO7     f9jep9      3.0
3  2024-05-03  2WPF1NXECF3G6NUMWDO7     lohq9t      4.0
4  2024-05-03  2WPF1NXECF3G6NUMWDO7     nrh896      5.0

In [8]:
#TOP CTR
#para cada advertiser id, quiero los 20 product_id m√°s visitados (en ese dia)
impressions_df = ads_views_filtered[ads_views_filtered['type'] == 'impression']
clicks_df = ads_views_filtered[ads_views_filtered['type'] == 'click']

# Group by 'advertiser_id' and 'product_id' and count the number of rows in each group
count_impressions = impressions_df.groupby(['advertiser_id', 'product_id']).size().reset_index(name='count_impressions')
count_clicks = clicks_df.groupby(['advertiser_id', 'product_id']).size().reset_index(name='count_clicks')

# Merge count_impressions and count_clicks on 'advertiser_id' and 'product_id'
result_df = count_impressions.merge(count_clicks, on=['advertiser_id', 'product_id'], how='outer')

# Fill NaN values with 0 (in case there are no impressions or clicks for a specific advertiser_id and product_id combination)
result_df.fillna(0, inplace=True)

# Convert count columns to integers
result_df[['count_impressions', 'count_clicks']] = result_df[['count_impressions', 'count_clicks']].astype(int)

result_df['count_impressions'] = result_df.apply(lambda row: row['count_clicks'] if row['count_impressions'] == 0 else row['count_impressions'], axis=1)

result_df['ctr'] = result_df['count_clicks'] / result_df['count_impressions']

# Add a column ranking that assigns a ranking for the product ids based on best to worst ctr
result_df['ranking'] = result_df.groupby('advertiser_id')['ctr'].rank(method='first', ascending=False)

# Filter for top 20 ranking
top_20_ranking = result_df[result_df['ranking'] <= 20]

top_20_ranking.drop(columns=['count_impressions', 'count_clicks','ctr'], inplace=True)

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

# Assuming 'date' is a column in the original DataFrame df
top_20_ranking.loc[:, 'date'] = today_date


# Select only the desired columns and rearrange them
top_20_ranking = top_20_ranking[['date', 'advertiser_id', 'product_id', 'ranking']]

print(top_20_ranking.head())

/tmp/ipykernel_428283/2418692380.py:29 SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_428283/2418692380.py:35 SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         date         advertiser_id product_id  ranking
0  2024-05-03  2WPF1NXECF3G6NUMWDO7     01mgr3      1.0
1  2024-05-03  2WPF1NXECF3G6NUMWDO7     0299ko      2.0
2  2024-05-03  2WPF1NXECF3G6NUMWDO7     1ch7g8      3.0
3  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gegxk      4.0
4  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gjnn4      5.0

In [9]:
rds_connection_string = "postgresql://postgres:postgres@db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(rds_connection_string)
print(engine)

Engine(postgresql://postgres:***@db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com:5432/postgres)

In [10]:
top_20_ranking.head()

         date         advertiser_id product_id  ranking
0  2024-05-03  2WPF1NXECF3G6NUMWDO7     01mgr3      1.0
1  2024-05-03  2WPF1NXECF3G6NUMWDO7     0299ko      2.0
2  2024-05-03  2WPF1NXECF3G6NUMWDO7     1ch7g8      3.0
3  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gegxk      4.0
4  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gjnn4      5.0

In [11]:
top_20_ranking.to_sql('tabla_test_2', engine, if_exists='append', index=False)

400

In [12]:
import pandas

# Print the version of SQLAlchemy
print("Pandas version:", pandas.__version__)

import sqlalchemy

# Print the version of SQLAlchemy
print("SQLAlchemy version:", sqlalchemy.__version__)

Pandas version: 1.5.3
SQLAlchemy version: 1.4.52

In [ ]:
#TEST FAST API

In [1]:
import pandas as pd
import boto3
from io import StringIO
import psycopg2

In [2]:
def connect_to_rds():
    try:
        connection = psycopg2.connect(
            user="postgres",
            password="postgres",
            host="db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com",
            port="5432",
            database="postgres"
        )
        return connection
    except (Exception, psycopg2.Error) as error:
        print("Error while connecting to PostgreSQL", error)
        return None

In [7]:
def get_recommendations(advertiser_id: int, model: str):
    # Conecci√≥n a la base
    connection = connect_to_rds()
    if connection is None:
        return {"message": "Failed to connect to the database"}

    try:
        cursor = connection.cursor()

        # Defino la query en base al modelo
        if model == "TopProduct":

            query = f"SELECT product_id FROM top_product WHERE advertiser_id = '{advertiser_id}' AND date = '2024-05-03' ORDER BY ranking LIMIT 20"
        
        elif model == "TopCTR":

            query = f"SELECT product_id FROM top_ctr WHERE advertiser_id = '{advertiser_id}' AND date = '2024-05-03' ORDER BY ranking LIMIT 20"
        
        else:
            return {"message": "Invalid model. Please choose either 'TopProduct' or 'TopCTR'"}

        cursor.execute(query)
        records = cursor.fetchall()
        
        if not records:
            return {"message": f"No recommendations found for advertiser_id {advertiser_id}"}

        products = [record[0] for record in records]
        return {"advertiser_id": advertiser_id, "recommended_products": products}
    
    except (Exception, psycopg2.Error) as error:
        print("Error while fetching data from PostgreSQL", error)
        return {"message": "Error occurred while fetching data from the database"}

    finally:
        if connection:
            cursor.close()
            connection.close()

In [8]:
get_recommendations('2WPF1NXECF3G6NUMWDO7', 'TopProduct')

{'advertiser_id': '2WPF1NXECF3G6NUMWDO7',
 'recommended_products': ['7sizf8',
  'csdo4h',
  'f9jep9',
  'lohq9t',
  'nrh896',
  'qr6buu',
  '8yddnr',
  'awsnit',
  'cwaimx',
  'ee96fh',
  'eiohv0',
  'hc9qdl',
  'jcok02',
  'jgo4ep',
  'kkjuz8',
  'mgktm4',
  'np11o4',
  'nw5ji2',
  'nxm2xm',
  'p0dsnt']}

In [19]:
import datetime
current_date = datetime.date.today()-datetime.timedelta(days=2)
current_date

datetime.date(2024, 5, 3)

In [20]:
connection = connect_to_rds()
cursor = connection.cursor()
advertiser_id='2WPF1NXECF3G6NUMWDO7'
query = f"SELECT product_id FROM top_product WHERE advertiser_id = '{advertiser_id}' AND date = '{current_date}' ORDER BY ranking LIMIT 20"
cursor.execute(query)
records = cursor.fetchall()

In [21]:
records

[('7sizf8',),
 ('csdo4h',),
 ('f9jep9',),
 ('lohq9t',),
 ('nrh896',),
 ('qr6buu',),
 ('8yddnr',),
 ('awsnit',),
 ('cwaimx',),
 ('ee96fh',),
 ('eiohv0',),
 ('hc9qdl',),
 ('jcok02',),
 ('jgo4ep',),
 ('kkjuz8',),
 ('mgktm4',),
 ('np11o4',),
 ('nw5ji2',),
 ('nxm2xm',),
 ('p0dsnt',)]

In [23]:
end_date = current_date
start_date = end_date - datetime.timedelta(days=6)

In [25]:
for date in range((end_date - start_date).days + 1):
    date_iter = start_date + datetime.timedelta(days=date)
    print(date_iter)

2024-04-27
2024-04-28
2024-04-29
2024-04-30
2024-05-01
2024-05-02
2024-05-03