In [4]:
from airflow import DAG
from airflow.operators.python import PythonOperator
from airflow.providers.amazon.aws.hooks.s3 import S3Hook
import pandas as pd
from io import StringIO
from datetime import datetime, timedelta
from sqlalchemy import create_engine


file_names=['ads_views.csv','advertiser_ids.csv','product_views.csv']

dfs = []  # lista de dfs

#s3_conn_id = 'aws_default'
#bucket_name = 'tpudesa'
#s3_hook = S3Hook(aws_conn_id=s3_conn_id)
#s3_conn = s3_hook.get_conn()
#print(f"Connection to S3 established: {s3_conn}")

for name in file_names:
    
    key = name
    #print(f"Reading CSV file from S3 bucket: {bucket_name}, key: {key}")
    #csv_object = s3_hook.get_key(key, bucket_name)
    #print(f"CSV object: {csv_object}")
    #csv_content = csv_object.get()['Body'].read().decode('utf-8')
    #df = pd.read_csv(StringIO(csv_content))
    df = pd.read_csv("./data/"+key)
    print(df.head())
    
    dfs.append(df)

          advertiser_id product_id        type        date
0  L6WM4665XZVS9MCZRTVI     fe7svp  impression  2024-04-15
1  OAGTYWN8WFC997VLDJH7     v3w16i  impression  2024-04-15
2  IDOFCO721HTJGDH7332G     1f34uj  impression  2024-04-15
3  SOVPFK3BBWKTQM9HOHWJ     9rmu1i  impression  2024-04-15
4  8C88YB6E8YCGWU07HA7A     bvztih       click  2024-04-15
          advertiser_id
0  IDOFCO721HTJGDH7332G
1  LW045DVYSGRD75TK6U54
2  SOVPFK3BBWKTQM9HOHWJ
3  M0LU6DCI1WILGQBZ6808
4  AK81O7W3KGPEN8LABG2N
          advertiser_id product_id        date
0  OAGTYWN8WFC997VLDJH7     p0nex1  2024-04-15
1  EN1SA43DTN2LIR8DEW5S     yeoj2v  2024-04-15
2  EN1SA43DTN2LIR8DEW5S     05p8w3  2024-04-15
3  P41C5HK4P2G5GFRMT6ZA     983mc0  2024-04-15
4  9Z77N44VDW6KX6VBWJ4X     lbtw00  2024-04-15

In [7]:
ads_views, advertiser_ids, product_views=tuple(dfs)

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

print(today_date)

2024-05-03

In [14]:
ads_views_today = ads_views[ads_views['date'] == today_date]
ads_views_filtered = ads_views_today[ads_views_today['advertiser_id'].isin(advertiser_ids['advertiser_id'])]

ads_views_filtered.head()

              advertiser_id product_id        type        date
38470  Y0W3K7OV6ZLILW96OO3K     b046tj  impression  2024-05-03
38471  5E325T5HYL61QSABVR5V     tspdm6  impression  2024-05-03
38472  EN1SA43DTN2LIR8DEW5S     0kwo2k  impression  2024-05-03
38473  6X20RDH567MX2X3TXYJ7     6ee4ay  impression  2024-05-03
38474  5E325T5HYL61QSABVR5V     67vcf8  impression  2024-05-03

In [16]:
product_views_today = product_views[product_views['date'] == today_date]
product_views_filtered = product_views_today[product_views_today['advertiser_id'].isin(advertiser_ids['advertiser_id'])]

product_views_filtered.head()

              advertiser_id product_id        date
38671  62FIK8F2YT8JSFDBLEC9     jn3jwp  2024-05-03
38672  OY5LNPB5A8FF43ITRZG3     d6etln  2024-05-03
38673  OAGTYWN8WFC997VLDJH7     fx42kx  2024-05-03
38674  P41C5HK4P2G5GFRMT6ZA     y0l8k3  2024-05-03
38676  K6Z0X85ZUY0TSF4RCG5J     b8nplx  2024-05-03

In [22]:
# TOP Product
#para cada advertiser id, quiero los 20 product_id m√°s visitados (en ese dia)
top_products = product_views_filtered.groupby('advertiser_id')['product_id'].value_counts().reset_index(name='count')
top_products['ranking'] = top_products.groupby('advertiser_id')['count'].rank(method='first', ascending=False)
top_20_products_per_advertiser = top_products[top_products['ranking'] <= 20]
top_20_products_per_advertiser = top_20_products_per_advertiser.drop(columns='count')

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

# Assuming 'date' is a column in the original DataFrame df
top_20_products_per_advertiser['date']=today_date
top_20_products_per_advertiser = top_20_products_per_advertiser[['date', 'advertiser_id', 'product_id', 'ranking']]

print(top_20_products_per_advertiser.head())

         date         advertiser_id product_id  ranking
0  2024-05-03  2WPF1NXECF3G6NUMWDO7     7sizf8      1.0
1  2024-05-03  2WPF1NXECF3G6NUMWDO7     csdo4h      2.0
2  2024-05-03  2WPF1NXECF3G6NUMWDO7     f9jep9      3.0
3  2024-05-03  2WPF1NXECF3G6NUMWDO7     lohq9t      4.0
4  2024-05-03  2WPF1NXECF3G6NUMWDO7     nrh896      5.0

In [29]:
#TOP CTR
#para cada advertiser id, quiero los 20 product_id m√°s visitados (en ese dia)
impressions_df = ads_views_filtered[ads_views_filtered['type'] == 'impression']
clicks_df = ads_views_filtered[ads_views_filtered['type'] == 'click']

# Group by 'advertiser_id' and 'product_id' and count the number of rows in each group
count_impressions = impressions_df.groupby(['advertiser_id', 'product_id']).size().reset_index(name='count_impressions')
count_clicks = clicks_df.groupby(['advertiser_id', 'product_id']).size().reset_index(name='count_clicks')

# Merge count_impressions and count_clicks on 'advertiser_id' and 'product_id'
result_df = count_impressions.merge(count_clicks, on=['advertiser_id', 'product_id'], how='outer')

# Fill NaN values with 0 (in case there are no impressions or clicks for a specific advertiser_id and product_id combination)
result_df.fillna(0, inplace=True)

# Convert count columns to integers
result_df[['count_impressions', 'count_clicks']] = result_df[['count_impressions', 'count_clicks']].astype(int)

result_df['count_impressions'] = result_df.apply(lambda row: row['count_clicks'] if row['count_impressions'] == 0 else row['count_impressions'], axis=1)

result_df['ctr'] = result_df['count_clicks'] / result_df['count_impressions']

# Add a column ranking that assigns a ranking for the product ids based on best to worst ctr
result_df['ranking'] = result_df.groupby('advertiser_id')['ctr'].rank(method='first', ascending=False)

# Filter for top 20 ranking
top_20_ranking = result_df[result_df['ranking'] <= 20]

top_20_ranking.drop(columns=['count_impressions', 'count_clicks','ctr'], inplace=True)

today_date = pd.Timestamp.now().date() - timedelta(days=1)
today_date = today_date.strftime('%Y-%m-%d')

# Assuming 'date' is a column in the original DataFrame df
top_20_ranking.loc[:, 'date'] = today_date


# Select only the desired columns and rearrange them
top_20_ranking = top_20_ranking[['date', 'advertiser_id', 'product_id', 'ranking']]

print(top_20_ranking.head())

/tmp/ipykernel_392002/2418692380.py:29 SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/tmp/ipykernel_392002/2418692380.py:35 SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         date         advertiser_id product_id  ranking
0  2024-05-03  2WPF1NXECF3G6NUMWDO7     01mgr3      1.0
1  2024-05-03  2WPF1NXECF3G6NUMWDO7     0299ko      2.0
2  2024-05-03  2WPF1NXECF3G6NUMWDO7     1ch7g8      3.0
3  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gegxk      4.0
4  2024-05-03  2WPF1NXECF3G6NUMWDO7     1gjnn4      5.0

In [30]:
rds_connection_string = "postgresql://postgres:postgres@db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(rds_connection_string)
print(engine)

Engine(postgresql://postgres:***@db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com:5432/postgres)

In [37]:
# Connect to the database using the engine
with engine.connect() as connection:
    # Write DataFrame to SQL table
    #top_20_products_per_advertiser.to_sql('top_product', con=connection, if_exists='replace', index=False)
    top_20_ranking.to_sql('tabla_test', engine, if_exists='append', index=False)

/tmp/ipykernel_392002/1573513083.py:5 UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

AttributeError: 'Engine' object has no attribute 'cursor'

In [45]:
from sqlalchemy import create_engine

# Define your RDS connection string
rds_connection_string = "postgresql://postgres:postgres@db-tp-avanzada.c7o4g4e22k4y.us-east-1.rds.amazonaws.com:5432/postgres"

# Create an SQLAlchemy engine
engine = create_engine(rds_connection_string)

# Test the connection by executing a simple query
try:
    with engine.connect() as connection:
        # Execute a simple SQL query
        result = connection.execute("SELECT * FROM ab_permission")

        # Fetch the result
        row = result.fetchone()

        # Check if the query returned a result
        print(row)
        if row:
            print("Connection to the RDS database is successful!")
        else:
            print("Connection to the RDS database failed.")
except Exception as e:
    print("Error:", e)

(1, 'can_edit')
Connection to the RDS database is successful!